name: Build, Scan and Publish

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

jobs:
  call_test:
    uses: ./.github/workflows/test.yml
    permissions:
      contents: read

  call_publish:
    needs: [ call_test ]
    if: ${{ github.event_name == 'release' }}
    uses: ./.github/workflows/publish.yml
    permissions:
      contents: write
      packages: write