name: Release

on:
  release:
    types: [ published ]

jobs:
  test:
    uses: ./.github/workflows/test.yml
    permissions:
      contents: read

  publish:
    needs: [ test ]
    uses: ./.github/workflows/publish.yml
    permissions:
      contents: write
      packages: write