name: Release

on:
  release:
    types: [ published ]

jobs:
  test:
    uses: ./.github/workflows/test.yml
    permissions:
      contents: read

  publish:
    needs: [ test ]
    uses: ./.github/workflows/publish.yml
    permissions:
      contents: read
    secrets: inherit

  docs:
    needs: [ publish ]
    uses: ./.github/workflows/docs.yml
    permissions:
      contents: read
      pages: write
      id-token: write
